@media screen and (min-width:768px) {
    body {
        background: linear-gradient(225deg, rgb(255, 249, 126), rgb(107, 217, 186), rgb(110, 171, 217));
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Times New Roman', Times, serif;
        overflow-x: hidden;
    }

    p {
        color: rgb(255, 255, 255);
    }

    img {
        border-radius: 25px;
    }

    h2 {
        color: #fff;
    }

    .ghlg {
        position: absolute;
        top: 450px;
        left: 50px;
        z-index: 3;
    }

    .func {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        background: transparent;
        border: none;
    }

    .functionbtn {
        padding: .5rem;
        width: 40%;
        border: #fff 2px solid;
        border-radius: 5px;
        text-align: center;
    }

    .functionbtn a {
        margin: 0;
        text-decoration: none;
        color: #fff;
    }

    .functionbtn:hover {
        background-color: #ffeea4;
    }

    @keyframes rotation-animation {
        0% {
            transform: rotate(-15deg);
        }

        100% {
            transform: rotate(15deg);
        }

    }

    .footer {
        color: #fff;
        text-align: center;
        padding: 1rem;
    }

    #enen {
        color: blanchedalmond;
    }

    .topnav {
        position: fixed;
        display: flex;
        inset: 0 0 auto 0;
        top: 0;
        z-index: 4;
        overflow: hidden;
        justify-content: space-between;
        background-color: #ffffff00;
        border-radius: 5px;
        box-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7, 0 0 80px #dfff50;
        backdrop-filter: blur(10px);
    }

    .topnav-icon {
        padding: .5rem 1rem;
        justify-content: end;
        display: flex;
        align-items: center;
    }

    .topnav-center {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topnav-link {
        justify-content: start;
        display: flex;
        align-items: center;
    }

    .topnav span {
        display: block;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
    }

    .topnav span:hover {
        color: rgb(82, 232, 190);
        border-radius: 20%;
    }

    .topnav a {
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .topnav a:hover {
        background-color: #fff1d2;
        color: rgb(82, 232, 190);
        border-radius: 5rem;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7, 0 0 80px #dfff50;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 3rem;
        backdrop-filter: blur(10px);
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: rgb(82, 232, 190);
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: rgb(33, 173, 133);
    }

    .sidenav .closebtn {
        position: absolute;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .type {
        width: 200px;
        background: none;
        border: none;
        border-bottom: 1px solid black;
        padding: 10px;
        outline: none;
    }

    .login {
        width: 200px;
        background: none;
        border: none;
        border-bottom: 1px solid black;
        padding: 10px;
        outline: none;
    }

    .button {
        font-size: large;
        font-weight: 600;
        color: white;
        width: 100px;
        height: 50px;
        background: linear-gradient(45deg, rgb(98, 210, 165), rgb(255, 215, 113));
        border: none;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-radius: 5px;
    }

    .button:active {
        animation: click-animation 0.3s;
    }

    .button:hover {
        background: linear-gradient(45deg, rgb(255, 215, 113), rgb(98, 210, 165));
        transform: scale(1.1);
    }

    .container {
        display: flex;
        justify-content: center;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
    }

    .sidebar {
        width: 300px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 230, 141, 0);
        box-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7;
        border-radius: 15px;
        padding-top: 1rem;
        padding: 1rem;
        margin-right: 2.5%;
    }

    .main {
        max-width: 780px;
        display: flex;
        flex-direction: column;
    }

    .post {
        position: relative;
        background-color: rgba(255, 255, 255, 0.421);
        padding: 25px;
        border-radius: 15px;
        box-shadow: #2bb57e 0px 0px 10px;
        color: #fff;
        margin-bottom: 1rem;
    }

    .information {
        display: flex;
        justify-content: space-between;
    }

    .post:hover {
        background: rgba(255, 255, 255, 0);
        border-top: #fff 1px solid;
        box-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7, 0 0 80px #dfff50;
        border-radius: 15px;
        animation: alternate spin 1s forwards;
    }

    .decoration {
        position: relative;
        display: flex;
        height: 100vh;
        font-size: 20px;
        padding: .2rem;
    }

    #ball {
        width: 10rem;
        height: 10rem;
        background: linear-gradient(45deg, rgb(132, 255, 206), rgb(255, 231, 169));
        border-radius: 50%;
        filter: blur(10px);
        z-index: 2;
        text-align: center;
        line-height: 100px;
        color: white;
    }

    #circle {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 15rem;
        height: 15rem;
    }

    #circle span {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        transform-origin: bottom center;
    }

    .maomi {
        position: relative;
        color: rgba(255, 255, 255, 0);
        font-size: 380%;
        top: 17%;
        left: 18%;
        z-index: 3;
        animation: alternate rotation-animation 1s infinite;
        text-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7, 0 0 80px #dfff50;
    }

    .maomi:hover {
        animation-play-state: paused;
        color: #ffffff;
        text-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95;
    }

    .welcome {
        position: absolute;
        top: 8rem;
        display: flex;
        background: radial-gradient(circle, rgb(255, 230, 141) 0%, rgb(167, 255, 197) 35%, rgba(255, 255, 255, 1) 100%);
        background-size: 200% 200%;
        animation: cd-animation 2s linear infinite;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        shape-outside: circle(50%);
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 2;
        animation: alternate translate-animation 5s infinite;
    }

    .shape {
        font-size: 30px;
        font-weight: 600;
    }

    .blur1 {
        filter: blur(5px);
        position: absolute;
        top: 70%;
        left: 40%;
        width: 20rem;
        height: 20rem;
        background: linear-gradient(45deg, rgb(132, 255, 206), rgb(255, 231, 169));
        border-radius: 50%;
        z-index: -1;
        animation: alternate scale-animation 5s infinite;
    }

    .blur2 {
        filter: blur(10px);
        position: absolute;
        top: 20%;
        left: 70%;
        width: 20rem;
        height: 20rem;
        background: linear-gradient(45deg, rgb(98, 210, 165), rgb(255, 215, 113));
        border-radius: 50%;
        z-index: -1;
        animation: alternate scale-animation2 3s infinite;
    }

    .blur3 {
        filter: blur(20px);
        position: absolute;
        top: 40%;
        left: 0;
        width: 500px;
        height: 500px;
        background: linear-gradient(45deg, rgb(98, 210, 165), rgb(255, 215, 113));
        border-radius: 50%;
        z-index: -2;
        animation: alternate scale-animation2 3s infinite;
    }

    .slideshow img {
        display: none;
    }

    .slideshow img.active {
        display: block;
    }

    @keyframes spin {
        0% {
            transform: rotateX(0deg);
        }

        100% {
            transform: rotateX(15deg);
        }
    }

    @keyframes scale-animation {
        0% {
            transform: scale(1)translateY(0);
        }

        50% {
            transform: scale(1.1)translateY(-50px);
        }

        100% {
            transform: scale(1)translate(0);
        }
    }

    @keyframes scale-animation2 {
        0% {
            transform: scale(1)translateY(0)translateX(0);
        }

        50% {
            transform: scale(1.1)translateY(50px)translateX(-50px);
        }

        100% {
            transform: scale(1)translate(0)translateX(10px);
        }

    }

    @keyframes translate-animation {
        0% {
            transform: translateY(0)translateX(0);
        }

        50% {
            transform: translateX(50px)translateY(50px);
        }

        100% {
            transform: translateY(0)translateX(0);
        }

    }

    @keyframes cd-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes click-animation {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.9);
        }

        100% {
            transform: scale(1);
        }
    }

    td {
        color: rgb(98, 210, 165);
        font-size: 50px;
        width: 50px;
        height: 25px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.446);
        margin: 20px;
    }

    table {
        padding: 50px;
        background: linear-gradient(rgba(98, 210, 165, 0.084), rgb(255, 215, 113));
        border-radius: 20px;
    }

}

@media screen and (max-width:768px) {
    body {
        background: linear-gradient(225deg, rgb(255, 249, 126), rgb(107, 217, 186), rgb(110, 171, 217));
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Times New Roman', Times, serif;
        overflow-x: hidden;
    }

    p {
        color: rgb(255, 255, 255);
    }

    img {
        border-radius: 25px;
    }

    h2 {
        color: #fff;
    }

    .ghlg {
        position: absolute;
        top: 60%;
        left: -10%;
        z-index: 3;
        display: none;
    }

    .func {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;
    }

    #myBtn {
        visibility: hidden;
        position: fixed;
    }

    .functionbtn {
        padding: .5rem;
        width: 40%;
        border: #fff 2px solid;
        border-radius: 5px;
        text-align: center;
    }

    .functionbtn a {
        margin: 0;
        text-decoration: none;
        color: #fff;
    }

    .functionbtn:hover {
        background-color: #ffeea4;
    }

    @keyframes rotation-animation {
        0% {
            transform: rotate(-15deg);
        }

        100% {
            transform: rotate(15deg);
        }

    }

    .footer {
        position: relative;
        justify-content: center;
        color: #fff;
        text-align: center;
        padding: 1rem;
    }

    #enen {
        color: blanchedalmond;
    }

    .topnav {
        display: flex;
        z-index: 4;
        overflow: hidden;
        justify-content: space-between;
        background-color: #ffffff00;
        border-radius: 5px;
        box-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7, 0 0 80px #dfff50;
        backdrop-filter: blur(10px);
    }

    .topnav-icon {
        padding: .5rem 1rem;
        justify-content: end;
        display: flex;
        align-items: center;
    }

    .topnav-center {
        display: none;
    }

    .topnav-link {
        justify-content: start;
        display: flex;
        align-items: center;
    }

    .topnav span {
        display: block;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
    }

    .topnav span:hover {
        color: rgb(82, 232, 190);
        border-radius: 20%;
    }

    .topnav a {
        display: none;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .topnav a:hover {
        background-color: #fff1d2;
        color: rgb(82, 232, 190);
        border-radius: 5rem;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 3rem;
        backdrop-filter: blur(10px);
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: rgb(82, 232, 190);
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: rgb(33, 173, 133);
    }

    .sidenav .closebtn {
        position: absolute;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .type {
        width: 200px;
        background: none;
        border: none;
        border-bottom: 1px solid black;
        padding: 10px;
        outline: none;
    }

    .login {
        width: 200px;
        background: none;
        border: none;
        border-bottom: 1px solid black;
        padding: 10px;
        outline: none;
    }

    .button {
        color: white;
        width: 50px;
        height: 25px;
        background: linear-gradient(45deg, rgb(98, 210, 165), rgb(255, 215, 113));
        border: none;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-radius: 5px;
    }

    .button:active {
        animation: click-animation 0.3s;
    }

    .button:hover {
        background: linear-gradient(45deg, rgb(255, 215, 113), rgb(98, 210, 165));
        transform: scale(1.1);
    }

    .container {
        justify-content: center;
        padding-top: 2%;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 230, 141, 0);
        box-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7;
        border-radius: 15px;
        padding-top: 1rem;
        padding: 1rem;
    }

    .main {
        padding-top: 2rem;
        max-width: 780px;
        display: flex;
        flex-direction: column;
    }

    .post {
        position: relative;
        background-color: rgba(255, 255, 255, 0.421);
        padding: 25px;
        border-radius: 15px;
        box-shadow: #2bb57e 0px 0px 10px;
        color: #fff;
        margin-bottom: 1rem;
    }

    .post:hover {
        background: rgba(255, 255, 255, 0);
        border-top: #fff 1px solid;
        box-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7, 0 0 80px #dfff50;
        border-radius: 15px;
        animation: alternate spin 1s forwards;
    }
    
    .decoration {
        position: relative;
        justify-content: center;
        top: 10%;
        height: 100vh;
        font-size: 20px;
        padding: .2rem;
    }

    #ball {
        width: 2rem;
        height: 2rem;
        background: linear-gradient(45deg, rgb(132, 255, 206), rgb(255, 231, 169));
        border-radius: 50%;
        filter: blur(10px);
        z-index: 2;
        text-align: center;
        line-height: 100px;
        color: white;
    }

    #circle {
        position: absolute;
        top: 10%;
        left: 30%;
        width: 10rem;
        height: 10rem;
    }

    #circle span {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        transform-origin: bottom center;
    }

    .maomi {
        position: relative;
        color: rgba(255, 255, 255, 0);
        font-size: 220%;
        top: 3%;
        z-index: 3;
        text-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95, 0 0 70px #00ffb7;
    }

    .maomi:hover {
        animation-play-state: paused;
        color: #ffffff;
        text-shadow: 0 0 10px #fff, 0 0 20px #ffffff00, 0 0 30px #fff, 0 0 40px #00ff95;
    }

    .welcome {
        position: absolute;
        top: 60%;
        left: 30%;
        display: flex;
        background: radial-gradient(circle,  rgb(167, 255, 197) 35%, rgba(255, 255, 255, 1) 100%);
        animation: cd-animation 2s linear infinite;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        shape-outside: circle(50%);
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 2;
        animation: alternate translate-animation 5s infinite;
    }

    .shape {
        font-size: 15px;
        font-weight: 600;
    }

    .blur1 {
        filter: blur(5px);
        position: absolute;
        top: 20%;
        left: 40%;
        width: 5rem;
        height: 5rem;
        background: linear-gradient(45deg, rgb(132, 255, 206), rgb(255, 231, 169));
        border-radius: 50%;
        z-index: -1;
        animation: alternate scale-animation 5s infinite;
    }

    .blur2 {
        filter: blur(10px);
        position: absolute;
        top: 20%;
        left: 70%;
        width: 5rem;
        height: 5rem;
        background: linear-gradient(45deg, rgb(98, 210, 165), rgb(255, 215, 113));
        border-radius: 50%;
        z-index: 0;
        animation: alternate scale-animation2 3s infinite;
    }

    .blur3 {
        filter: blur(20px);
        position: absolute;
        top: 40%;
        left: 0;
        width: 10rem;
        height: 10rem;
        background: linear-gradient(45deg, rgb(98, 210, 165), rgb(255, 215, 113));
        border-radius: 50%;
        z-index: -1;
        animation: alternate scale-animation2 3s infinite;
    }

    .slideshow img {
        display: none;
    }

    .slideshow img.active {
        display: block;
    }

    @keyframes spin {
        0% {
            transform: rotateX(0deg);
        }

        100% {
            transform: rotateX(15deg);
        }
    }

    @keyframes scale-animation {
        0% {
            transform: scale(1)translateY(0);
        }

        50% {
            transform: scale(1.1)translateY(-50px);
        }

        100% {
            transform: scale(1)translate(0);
        }
    }

    @keyframes scale-animation2 {
        0% {
            transform: scale(1)translateY(0)translateX(0);
        }

        50% {
            transform: scale(1.1)translateY(50px)translateX(-50px);
        }

        100% {
            transform: scale(1)translate(0)translateX(10px);
        }

    }

    @keyframes translate-animation {
        0% {
            transform: translateY(0)translateX(0);
        }

        50% {
            transform: translateX(50px)translateY(50px);
        }

        100% {
            transform: translateY(0)translateX(0);
        }

    }

    @keyframes cd-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes click-animation {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.9);
        }

        100% {
            transform: scale(1);
        }
    }

    td {
        color: rgb(98, 210, 165);
        font-size: 50px;
        width: 50px;
        height: 25px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.446);
        margin: 20px;
    }

    table {
        padding: 50px;
        background: linear-gradient(rgba(98, 210, 165, 0.084), rgb(255, 215, 113));
        border-radius: 20px;
    }
}